body {
    background-color: hsl(185, 75%, 39%);
}

h1{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 25px;
}

.stats > div{
    margin: auto;
    
}